{% if product.template_suffix == ' ' %}
<div class="line-item-property__field ">
  <label class="form__label" for="enter-your-vehicle-number">Enter Your Vehicle Number</label>
  <input class="select__select required" style="width: 100%;" id="enter-your-vehicle-number" type="text"
    placeholder="Enter Your Vehicle Number" name="properties[ Enter Your Vehicle Number]" minlength="0" maxlength="15"
    required>
</div>
{% endif %}
